cuda-env
runs
SnowPole Detection A Comprehensive Dataset for Detection and Localization Using LiDAR Imaging in Nordic Winter Conditions/
temp_4ch_data.yaml
.vscode/
yolov9_4ch.pt
gitmodules.txt
yolov8n.pt
__pycache__/
SnowPole_4ch
ultralytics4channel-0a38736761a770f7f7dd80064e20b2d9624eda5b
venv
SnowPole_3ch
Ablation_HHA
Ablation_Range
# Data/
key.txt
key.txt.pub
3CH_repl_nearir
3CH_repl_signal
3CH_repl_reflec
4CH_GatedFusion
4CH_rgbdgated
Ablation_3CH11n
Ablation_4CH
Ablation_4CH11n
Data/
dataset_fused
late_gate_experiments
repl_nearir
repl_reflec
repl_signal
tempvenv
ultralytics4channel
weighted_late_gate_experiments
yolo26n.pt
requirements1.txt
*.yaml
.gitmodules
*.pt
weighted_3pca/
weighted_3pca_inc/
weighted_3pca_ms/
weighted_late_gate_experiments_residuals/
.gitattributes
*.png
*.npy
weighted_late_gate_experiments_residual/
correlation_maps
dataset_6ch
dataset_combined
dataset_fbpca
dataset_corr_fusion
dataset_fused_anisotropic
dataset_fused_residual
dataset_lda_pca
dataset_pca3
dataset_pca3_weighted
dataset_seperate_range
dual_stream
sixch_fusion